<!-- Page Content -->
<%- include('./partials/alerts') %>
<div class="background-grey">
    <div class="container">
      <!-- Hero Section -->
      <div class="row align-items-center no-gutters" >
        <div class="col-xl-5 col-lg-6 col-md-12">
          <div class="py-5 py-lg-0">
            <h1 class="text-white display-4 font-weight-bold">Welcome to Golden Path
              Learing Application
            </h1>
            <p class="mb-4 lead what-is-golden-path" >
              An online marketplaced designed for the modern student and entrepreneur seeking knowledge.
            </p>
            <a href="student/signup" class="btn btn-success btn-browse">Start your path</a>
            <a href="instructor/signup" class="btn btn-white">Are you an Instructor?</a>
          </div>
        </div>
        <div class=" col-xl-7 col-lg-6 col-md-12 text-lg-right text-center">
          <img src="" alt="" class="img-fluid" />
        </div>
      </div>
    </div>
  </div>

  <div class="bg-white py-4 shadow-sm">
    <div class="container">
      <div class="row align-items-center no-gutters">
        <!-- Features -->
        <div class="col-xl-4 col-lg-4 col-md-6 mb-lg-0 mb-4">
          <div class="d-flex align-items-center">
            <span
              class="icon-sahpe icon-lg bg-light-warning rounded-circle text-center text-dark-warning font-size-md "> <i
                class="fe fe-video"> </i></span>
            <div class="ml-3">
              <h4 class="mb-0 font-weight-semi-bold">Online Remote Courses</h4>
              <p class="mb-0">Fresh paths paved daily, find yours now</p>
            </div>
          </div>
        </div>
        <!-- Features -->
        <div class="col-xl-4 col-lg-4 col-md-6 mb-lg-0 mb-4">
          <div class="d-flex align-items-center">
            <span
              class="icon-sahpe icon-lg bg-light-warning rounded-circle text-center text-dark-warning font-size-md "> <i
                class="fe fe-users"> </i></span>
            <div class="ml-3">
              <h4 class="mb-0 font-weight-semi-bold">Path Instructors</h4>
              <p class="mb-0">Dedicated to guiding you</p>
            </div>
          </div>
        </div>
        <!-- Features -->
        <div class="col-xl-4 col-lg-4 col-md-12">
          <div class="d-flex align-items-center">
            <span
              class="icon-sahpe icon-lg bg-light-warning rounded-circle text-center text-dark-warning font-size-md "> <i
                class="fe fe-clock"> </i></span>
            <div class="ml-3">
              <h4 class="mb-0 font-weight-semi-bold">Remote Access</h4>
              <p class="mb-0">Learn on your schedule</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>



  <!-- Content -->
  <div class="pt-lg-12 pb-lg-3 pt-8 pb-6 minus-pd-top">
    <div class="container">
      <div class="row d-lg-flex align-items-center mb-4">
        <div class="col">
          <h2 class="mb-0">Recommended Courses</h2>
        </div>
        <div class="col-auto">
          <a href="pages/course-filter-list.html" class="btn btn-outline-primary btn-sm">View All</a>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-3 col-md-6 col-12">
          <!-- Card -->
          <div class="card  mb-4 card-hover">
            <a href="pages/course-single.html" class="card-img-top"><img src="assets/images/course-react.jpg" alt=""
                class="rounded-top card-img-top"></a>
            <!-- Card Body -->
            <div class="card-body">
              <h4 class="mb-2 text-truncate-line-2 "><a href="pages/course-single.html" class="text-inherit">How to
                  easily create a website with React</a></h4>
              <!-- List -->
              <ul class="mb-3 list-inline">
                <li class="list-inline-item"><i class="far fa-clock mr-1"></i>3h 56m</li>
                <li class="list-inline-item">
                  <svg class="mr-1 mt-n1" width="16" height="16" viewBox="0 0 16 16" fill="none"
                    xmlns="http://www.w3.org/2000/svg">
                    <rect x="3" y="8" width="2" height="6" rx="1" fill="#754FFE" />
                    <rect x="7" y="5" width="2" height="9" rx="1" fill="#DBD8E9" />
                    <rect x="11" y="2" width="2" height="12" rx="1" fill="#DBD8E9" />
                  </svg>
                  Beginner
                </li>
              </ul>
              <div class="lh-1">
                <span>
                  <i class="mdi mdi-star text-warning mr-n1"></i>
                  <i class="mdi mdi-star text-warning mr-n1"></i>
                  <i class="mdi mdi-star text-warning mr-n1"></i>
                  <i class="mdi mdi-star text-warning mr-n1"></i>
                  <i class="mdi mdi-star text-warning"></i>
                </span>
                <span class="text-warning">4.5</span>
                <span class="font-size-xs text-muted">(7,700)</span>
              </div>
            </div>
            <!-- Card Footer -->
            <div class="card-footer">
              <div class="row align-items-center no-gutters">
                <div class="col-auto">
                  <img src="assets/images/avatar-1.jpg" class="rounded-circle avatar-xs" alt="">
                </div>
                <div class="col ml-2">
                  <span>Morris Mccoy</span>
                </div>
                <div class="col-auto">
                  <a href="#!" class="text-muted" data-toggle="tooltip" data-placement="top" title="Add to Bookmarks">
                    <i class="fe fe-bookmark  "></i>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
          </div>
        </div>
      </div>
    </div>
  </div>
