<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>
    <link rel="stylesheet" href="/dist/assets/css/theme.min.css" />
    <link href="/dist/assets/fonts/feather/feather.css" rel="stylesheet" />
    <link href="/dist/assets/libs/dragula/dist/dragula.min.css" rel="stylesheet" />
    <link href="/dist/assets/libs/@mdi/font/css/materialdesignicons.min.css" rel="stylesheet" />
    <link href="/dist/assets/libs/prismjs/themes/prism.css" rel="stylesheet" />
    <link href="/dist/assets/libs/dropzone/dist/dropzone.css" rel="stylesheet" />
    <link href="/dist/assets/libs/magnific-popup/dist/magnific-popup.css" rel="stylesheet" />
    <link href="/dist/assets/libs/bootstrap-select/dist/css/bootstrap-select.min.css" rel="stylesheet">
    <link href="/dist/assets/libs/@yaireo/tagify/dist/tagify.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body>
    <header>
      <nav>
        <%- include('partials/header') %>
      </nav>
    </header>
    <%- body %>
  </body>
  <%- include('partials/footer') %>
  
  <script src="/dist/assets/libs/jquery/dist/jquery.min.js"></script>     
  <script src="/dist/assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>     
  <script src="/dist/assets/js/theme.min.js"></script>
  
</html>