<div class="pt-5">
    <div class="container">
            <!-- User info -->
        <div class="row align-items-center">			
            <div class="col-xl-12 col-lg-12 col-md-12 col-12">
                <!-- Bg -->
                <div class="pt-16 rounded-top student-bg"> </div>
                <div
                    class="d-flex align-items-end justify-content-between bg-white px-4 pt-2 pb-4 rounded-none rounded-bottom shadow-sm">
                    <div class="d-flex align-items-center">
                        <div class="mr-2 position-relative d-flex justify-content-end align-items-end mt-n5">
                            <img src="../assets/images/avatar-3.jpg" class="avatar-xl rounded-circle border-width-4 border-white"
                                alt="" />
                        </div>
                        <div class="lh-1">
                            <h2 class="mb-0">
                                Instructor
                                <a href="#!" class="text-decoration-none" data-toggle="tooltip" data-placement="top" title="Beginner">
                                    <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <rect x="3" y="8" width="2" height="6" rx="1" fill="#754FFE"></rect>
                                        <rect x="7" y="5" width="2" height="9" rx="1" fill="#DBD8E9"></rect>
                                        <rect x="11" y="2" width="2" height="12" rx="1" fill="#DBD8E9"></rect>
                                    </svg>
                                </a>
                            </h2>
                            <p class="mb-0 d-block">Golden Path Instructor</p>
                        </div>
                    </div>
                    <div>
                    <div>
                        <a href="profile/instructor" class="btn btn-outline-primary btn-sm d-none d-md-block">View your public profile</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Content -->
<div class="pb-5 py-md-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-4 col-12">
                <!-- Side navbar -->
                <nav class="navbar navbar-expand-md navbar-light shadow-sm mb-4 mb-lg-0 small-sidenav">
                    <!-- Menu -->
                    <a class="d-xl-none d-lg-none d-md-none text-inherit font-weight-bold" href="#!">Menu</a>
                    <!-- Button -->
                    <button class="navbar-toggler d-md-none icon-shape icon-sm rounded bg-primary text-light" type="button"
                        data-toggle="collapse" data-target="#smallSidenav" aria-controls="smallSidenav" aria-expanded="false"
                        aria-label="Toggle navigation">
                        <span class="fe fe-menu"></span>
                    </button>
                    <!-- Collapse navbar -->
                    <div class="collapse navbar-collapse" id="smallSidenav">
                        <div class="navbar-nav flex-column">
                            <span class="navbar-header">Account Settings</span>
                                <!-- List -->
                            <ul class="list-unstyled ml-n2 mb-0">
								<!-- Nav Item instructor-->
								<li class="nav-item">
									<a class="nav-link" href="instructor-courses.html"><i class="fe fe-book nav-icon"></i>My Courses</a>
                                <!-- Nav item -->
                                <li class="nav-item active">
                                    <a class="nav-link" href="instructor/profile-edit/"><i class="fe fe-settings nav-icon"></i>Edit Profile</a>
                                </li>
                                <!-- Nav item -->
                                <li class="nav-item">
                                    <a class="nav-link" href="instructor/security/"><i class="fe fe-user nav-icon"></i>Security</a>
                                </li>
                                <!-- Nav item -->
                                <li class="nav-item">
                                    <a class="nav-link" href="instructor/payment-method/"><i class="fe fe-credit-card nav-icon"></i>Payment</a>
                                </li>
                                <!-- Nav item -->
                                <li class="nav-item">
                                    <a class="nav-link" href="instructor/delete-profile/"><i class="fe fe-trash nav-icon"></i>Delete
                                        Profile</a>
                                </li>
                                <!-- Nav item -->
                                <li class="nav-item">
                                    <a class="nav-link" href="/"><i class="fe fe-power nav-icon"></i>Sign Out</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </nav>
            </div>
            <div class="col-lg-9 col-md-8 col-12">
                <!-- Card -->
                <div class="card">
                    <!-- Card header -->
                    <div class="card-header">
                        <h3 class="mb-0">Profile Details</h3>
                        <p class="mb-0">
                            You have full control to manage your own account setting.
                        </p>
                    </div>
                    <!-- Card body -->
                    <div class="card-body">
                        <div class="d-lg-flex align-items-center justify-content-between">
                            <div class="d-flex align-items-center mb-4 mb-lg-0">
                                <img src="../assets/images/avatar-3.jpg" id="img-uploaded" class="avatar-xl rounded-circle" alt="" />
                                <div class="ml-3">
                                    <h4 class="mb-0">Your avatar</h4>
                                    <p class="mb-0">
                                        PNG or JPG no bigger than 800px wide and tall.
                                    </p>
                                </div>
                            </div>
                            <div>
                                <a href="#!" class="btn btn-outline-white btn-sm">Update</a>
                                <a href="#!" class="btn btn-outline-danger btn-sm">Delete</a>
                            </div>
                        </div>
                        <hr class="my-5" />
                        <div>
                            <h4 class="mb-0">Personal Details</h4>
                            <p class="mb-4">
                                Edit your personal information and address.
                            </p>
                            <!-- Form -->
                            <form class="form-row">
                                <!-- Username -->
                                <div class="form-group col-12 col-md-6">
                                    <label class="form-label" for="uname">Username</label>
                                    <input type="text" id="uname" class="form-control" placeholder="Username" required />
                                </div>
                                <!-- Tagline -->
                                <div class="form-group col-12 col-md-6">
                                    <label class="form-label" for="tagline">Tag</label>
                                    <input type="text" id="tagline" class="form-control" placeholder="Golden Path Instructor" required />
                                </div>
                                <!-- First name -->
                                <div class="form-group col-12 col-md-6">
                                    <label class="form-label" for="fname">First Name</label>
                                    <input type="text" id="fname" class="form-control" placeholder="First Name" required />
                                </div>
                                <!-- Last name -->
                                <div class="form-group col-12 col-md-6">
                                    <label class="form-label" for="lname">Last Name</label>
                                    <input type="text" id="lname" class="form-control" placeholder="Last Name" required />
                                </div>
                                <!-- Phone -->
                                <div class="form-group col-12 col-md-6">
                                    <label class="form-label" for="phone">Phone</label>
                                    <input type="text" id="phone" class="form-control" placeholder="Phone" required />
                                </div>
                                <!-- Birthday -->
                                <div class="form-group col-12 col-md-6">
                                    <label class="form-label" for="birth">Birthday</label>
                                    <input class="form-control flatpickr" type="text" placeholder="Birth of Date" id="birth"
                                        name="birth" />
                                </div>
                                <!-- Location -->
                                <div class="form-group col-12 col-md-6">
                                    <label class="input-label" for="location">Location</label>
                                    <select id="location" name="location" class="form-control">
                                       <option>Country</option>
                                       <option value="USA">USA</option>
                                       <option value="Canada">Canada</option>
                                       <option value="Mexico">Mexico</option>
                                    </select>
                                 </div>
                                 <!-- About Me -->
                                 <div class="form-group" style="width: 100%;">
                                    <label class="input-label" for="aboutInput">About you</label>
                                    <textarea name= "aboutInput" id="aboutnput" class="form-control"
                                       placeholder="Tell us about yourself" rows="4"></textarea>
                                 </div>
                              </form>
                                    <!-- Button -->
                                    <button class="btn btn-primary" type="submit">
                                        Update Profile
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>